.details{
    h1{
      margin-bottom: 40px;  
    }
    .details-main{
        background: #f7f7f7;
        margin: 0;
        padding: 30px;
       
        h2{
            color: #5bb14a;
            font-size: 20px;
            margin-top: 0;
           
        }
        .small{
            font-size: 13px;
            float: right;
            margin-top: 5px;
        }
        p{
            text-align: justify;
        }
        img{
            float: left;
            margin-right: 30px;
        }
        h4{
            color: #4e90cd;
            font-size: 17px;
            margin-top: 10px;
        }
    }
}
@media(max-width:991px){
    .details{
        .details-poster{
            img{
                margin: 0 auto 30px;
            }
        }
    }
}
@media(max-width:768px){
    .details{
        h1{
            font-size: 30px;
            margin-bottom: 20px;  
        }
        .details-main{
        
            img{
                float: none;
                margin:0 auto 30px;
                display: block;
            }
        
        }
    }
}